.my_card_img_cotnainer {
  max-height: 500px;
  overflow: hidden;
}

.style-btn {
  font-family: sans-serif;
  font-size: 10px;
  justify-content: space-evenly;
  font-weight: bolder;
}

.style-btn a {
  color: #b1b1b1;
  border: 1px solid #b1b1b1;
  font-weight: bolder;
  border-radius: 20px;
  padding: 10px;
  background: linear-gradient(to left, white 50%, #1fad95 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
  color: #1fad95;
}

.style-btn a:hover {
  background-position: left;
  color: white;
}

.style-btn .btn-form-style {
  border: 1px solid red;
  font-weight: bolder;
  border-radius: 20px;
  padding: 10px;
  background: linear-gradient(to left, white 50%, #bd0000 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
  color: red;
}

.style-btn .btn-form-style:hover {
  background-position: left;
  color: white;
}

